/***************************************************/
/********************** GLOBAL *********************/
/***************************************************/

/********************** Resets *********************/

html,
body,
.app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1f262a;
}

/***************** Headers & Fonts *****************/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


/****************** Accent Colors ******************/

.azureish {
  color: #eaebed;
}

.keppel {
  color: #00e5bb;
}

.sea {
  color: #00bac8;
}

.navy {
  color: #005d7a;
}

.gunmetal {
  color: #2a3439;
}


/***************************************************/
/********************* LANDING *********************/
/***************************************************/

/****************** Landing Page *******************/

.landing-banner {
  display: block;
  position: fixed;
  width: 50vw;
  top: 5vh;
  left: 25vw;
  z-index: 9;
}

.landing-banner img {
  width: 100%;
}

/****************** Landing Views ******************/
.page-viewer-container {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page-viewer {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.page-viewer-pages {
  position: absolute;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  top: 10px;
  left: 10px;
  border-radius: 10px;
  will-change: transform;
}

.landing-advocate, .landing-designer, .landing-developer, .landing-entrepreneur, .landing-hobbyist {
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
}

/****************** View Images ********************/

.landing-advocate {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9)
  ),
  url(./assets/images/advocate-banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-designer {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9)
  ),
  url(./assets/images/designer-banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-developer {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9)
  ),
  url(./assets/images/developer-banner-1.jpg);
  background-size: cover;
  background-position: top center;
}

.landing-entrepreneur {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9)
  ),
  url(./assets/images/entrepreneur-banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-hobbyist {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9)
  ),
  url(./assets/images/hobbyist-banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

/****************** Landing Text *******************/

.landing-titles {
  padding: 16vh 5vw 0 5vw;
  text-align: center;
}

.landing-titles h6 {
  display: inline;
  text-transform: lowercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 15px;
}

.landing-welcome {
  position: absolute;
  top: 21vh;
  left: 4vw;
  z-index: 0;
}

.landing-welcome h1 {
  font-size: 12em;
  font-weight: 900;
  opacity: .1;
}

.landing-tagline {
  margin-top: 19vh;
  padding: 0 13vw;
}

.landing-tagline h2 {
  font-size: 3em;
}

.landing-bio {
  margin-top: 5vh;
  padding: 0 13vw;
}

.landing-bio p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
}

.landing-specialty {
  margin-top: 5vh;
  padding: 0 13vw;
}

.landing-specialty p {
  font-size: 1.2em;
}

/***************************************************/
/********************** PAGES **********************/
/***************************************************/

.page {
  max-width: 1440px;
  margin: 50px auto;
  padding: 25px;
}

/********************** Hero ***********************/

.hero {
  min-height: 20vh;
  color: white;
  max-width: 1020px;
  margin: 0 auto;
}

.hero p {
  max-width: 800px;
  margin: 0 auto;
}

.hero img {
  max-height: 150px;
}

.landing-hero {
  max-width: 800px;
}

/******************* Index Cards *******************/

.ui.grid>* {
  padding: 1rem;
}

.project-cards {
  text-align: left;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  background: 
  linear-gradient(
    rgba(21, 37, 43, .1), 
    rgb(89, 136, 153, .2)
  ),
  url(./assets/graphics/featured.jpg);
  background-size: cover;
  background-position: top center;
}

.ui.teal.ribbon.label {
  position: absolute;
  top: 10px;
  z-index: 3;
}

.ui[class*="right ribbon"].label {
  transform: translateX(-107%);
}

.ui.card:after, .ui.cards:after {
  display: none;
}


/******************** Dev Page *********************/



/***************************************************/
/******************** RESPONSIVE *******************/
/***************************************************/


@media all and (min-width: 1200px) {

}


@media all and (max-width: 1199px) {
  .landing-banner {
    width: 70vw;
    left: 15vw;
  }
}


@media all and (min-width: 1025px) {
  .hide-on-desktop {
    display: none;
  }
  
  .mobile-nav {
    display: none;
  }
}


@media all and (max-width: 1024px) {
  .hide-on-mobile {
    display: none;
  }
  
  .desktop-nav {
    display: none;
  }

  .landing-banner {
    width: 80vw;
    left: 10vw;
  }

  .landing-titles {
    padding: 12vh 2vw 0 2vw;
  }  

  .landing-titles h6 {
    display: block;
    text-transform: lowercase;
    font-size: 1.25em;
  }
  
  .landing-tagline h2 {
    font-size: 2.5em;
  }
}


@media all and (max-width: 736px) {
  .landing-banner {
    width: 90vw;
    left: 5vw;
  }
}


@media all and (max-width: 480px) {
  .landing-banner {
    width: 98vw;
    left: 1vw;
  }
}
