/***************************************************/
/********************** GLOBAL *********************/
/***************************************************/

/********************** Resets *********************/

html,
body, 
#root {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/***************** Headers & Fonts *****************/

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}


/****************** Accent Colors ******************/

.azureish {
  color: #e1eaed;
}

.keppel {
  color: #3dbb9f;
}

.sea {
  color: #28afb0;
}

.ming {
  color: #3b6877;
}

.gunmetal {
  color: #0F1626;
}


/****************** Landing Page *******************/


.landing {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 25 25,
    auto;
}

.page-viewer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
}

.page-viewer-pages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.landing-logo {
  display: block;
  position: fixed;
  width: 50vw;
  top: 5vh;
  left: 25vw;
  z-index: 9;
}

.landing-logo img {
  width: 100%;
}

.landing-advocate, .landing-designer, .landing-developer, .landing-entrepreneur, .landing-hobbyist {
  height: 100vh;
  padding: 23vh 10vw 10vw 10vw;
}

.landing-advocate {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/advocate-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-designer {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/designer-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-developer {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/developer-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-entrepreneur {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/entrepreneur-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-hobbyist {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/hobbyist-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.landing-titles {
  width: 50vw;
  margin: 0 auto;
}

.landing-titles h6 {
  display: inline;
  text-transform: lowercase;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 10px;
}

.landing-tagline {
  margin-top: 20vh;
}

.landing-tagline h2 {
  font-size: 3em;
}

.landing-specialty {
  text-align: right;
}


/***************************************************/
/******************** RESPONSIVE *******************/
/***************************************************/


@media all and (min-width: 1200px) {

}


@media all and (max-width: 1199px) {

}


@media all and (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}


@media all and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .landing-logo {
    max-width: 80vw;
    margin-left: -40vw;
  }
}


@media all and (max-width: 736px) {
  .landing-logo {
    max-width: 90vw;
    margin-left: -45vw;
  }
}


@media all and (max-width: 480px) {
  .landing-logo {
    max-width: 98vw;
    margin-left: -49vw;
  }
}
